body{
    margin:auto;
}
#navbar{
    background:black;
    color:white;
    text-align:center;
    padding:10px;
}
#navbar ul{
    padding:0;
    margin:0;
    list-style:none;
}
#navbar li{
    display:inline;
    padding: 10px 20px;
}
#navbar a{
    text-decoration:none;
    color:white;
    font-size:25px;
} 
#navbar li:hover{
    background:darkblue;
}