body{
    margin:auto;
}
#navbar{
    background:black;
    color:white;
    text-align:center;
    padding:10px;
}
#navbar ul{
    padding:0;
    margin:0;
    list-style:none;
}
#navbar li{
    display:inline;
    padding: 10px 20px;
    border-radius:0;
}
#navbar a{
    text-decoration:none;
    color:white;
    font-size:25px;
} 
#navbar li:hover{
    background:darkblue;
    border-radius:15px;
}
div{
    margin-top: 80px;
    padding: 20px;
}
p{
    height: 2000px;
    font-size: 20px;
    font-family:Arial, Helvetica, sansserif;
    text-align:center;
}
