<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="task1.css">
    </head>
    <body>
        <nav id="navbar">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="service.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <h2><b>This is a sample contact page for accessing through the navigation bar.</b></h2>
    </body>
</html>